.Chatbox__display {
  border: 0.5px solid black;
  border-bottom: none;
  height: 500px;
  width: 400px;
  overflow-x: auto;
  box-sizing: border-box;
  padding: 5px;
}

.Chatbox__form {
  width: 401px;
  display: flex;
  justify-content: flex-start;
}

.Chatbox__form input {
  flex-grow: 1;
}
